@import 'elements';
@import 'colors';
@import 'fonts';

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.content {
  background-color: @silver;
  padding: 1em;

  .description {
    width: 12em;
  }
}

md-sidenav,
md-sidenav.md-locked-open-add-active,
md-sidenav.md-closed.md-locked-open-add-active,
md-sidenav.md-locked-open {
  width: 14em;
  min-width: 14em;
  max-width: 14em;
}

.toolbar {
  background-color: @white;
  color: @black;
}

.logo {

  img {
    width: 2em;
    vertical-align: middle;
  }
  span {
    padding: 0 0 0 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: @black;
  }
}

.loginname {
  padding: 0 1em;
  font-size: 0.8em;
  font-weight: lighter;
}

.navigation-main {
  background-color: @midnightblue;
}

.navigation-main-category {
}

.navigation-main-category__headline {
  font-size: 0.9em;
  color: lighten(@midnightblue, 50%);
  padding: 1em;
  margin-top: 1em;
}

.navigation-main-category-item {
  padding: 0em 1em;
  text-decoration: none;
  //background-color: darken(@midnightblue, 5%);
  &:hover * {
    color: @white;
  }

  &.active * {
    color: @emerald;
  }

}

.navigation-main-category-item__icon {
  color: @silver;
  text-align: center;
  font-size: 1.1em;

}

.navigation-main-category-item__text {
  line-height: 1.2em;
  font-size: 0.9em;
  color: @silver;
  padding: 0.5em 1em 0.5em 0.5em;
}

.tile {
  background-color: @sunflower;
}

.tile-header__metric-text {
  font-size: 1em;
  i {
    font-size: 1.2em;
  }
}

.tile-header__metric-description {
  font-size: 0.8em;
}

.tile-header__filter {
  text-align: right;

}

.tile-header_filter-item {
  color: @concrete;
  padding: 0.5em 1em;
  font-size: 0.8em;
  border: 1px solid @silver;
  border-right: 0;
  border-color: @silver;
  //background-color: @silver;

  &.active {
    color: @veepurple;
    background-color: @clouds;
    font-weight: 900;
  }

  &:first-child {
    .rounded(1em);
    .border-radius(0, 0, 0.25em, 0.25em);
    //background-color: @midnightblue;
  }

  &:last-child {
    .rounded(1em);
    .border-radius(0.25em, 0.25em, 0, 0);
    //background-color: @midnightblue;
    border-right: 1px solid @silver;
  }
}

.chart-overview {
  height: 10em;
}

.chart-container {
  //background-color: teal;

}

.chart {
  //background-color: @sunflower;

}

// DEVICES
.devices {
  .device {
    padding: 0.25em 0;
    .device-icon {
      padding: 0 0.25em;
      min-width: 0.8em;
      text-align: center;
      font-size: 2em;
    }
    .device-checkbox {
      margin-bottom: 0;
    }
    .device-id {
      max-width: 15em;
      min-width: 10em;

    }
    .sync {
      //font-size:0.8em;
    }
    .title {
      font-size: 0.8em;
      font-weight: bold;
      color: @concrete;
    }
  }

}

// HEART-RATE

// EXPORT
.export-result {
  padding-bottom: 0.5em;
  a {
    text-decoration: none;
  }
}

.export-devices {
  .device {
    .title {
      min-width: 10em;
      background-color: blue;
    }
  }

}
