@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato-Regular'), local('Lato-Light'), url('/fonts/Lato/Lato-Regular.ttf') format('truetype'), url('/fonts/Lato/Lato-Light.ttf') format('truetype');
}
