@import 'elements';
@import 'colors';
@import 'fonts';

a,
a:hover,
a:link,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: @white;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
  padding:0;
  margin:0;
}

.hidden {
  display: none;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
  //font-family: "Open Sans", "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.active, a.active {
  color: @nephritis;
}

section,
body {
  padding: 0;
  margin: 0;
}

#header {
  z-index: 1;
  position: relative;
}

#header .tiles:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 30em;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: -1;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-backface-visibility: hidden;
}

#header .tiles .header-inner {
  max-width: 100%;
  //height: 12em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .veedata {
    font-size: 2em;
    font-weight: 900;
    color: white;
    margin-top: 5%;
    text-shadow: 2px 1px 4px rgba(150, 150, 150, 0.63);
  }
  .line {
    border-bottom: 0.125em solid white;
    display: block;
    width: 2em;
    margin: 0.5em auto;
  }
}

.demo {
  height: 100%;
  #header {
    display: block;
    height: 4em;
    background-color: @clouds;
    .logout {
      font-size: 1em;
      position: absolute;
      right: 1em;
      top: 0;
      vertical-align: bottom;
      padding: 1.2em 1em 0;
      display: table-cell;
      color: @silver;
      background-color: @midnightblue;
      height: 100%;
      line-height: 1em;
      a:hover {
        color: @nephritis;
      }
    }
    .tiles {
      .header-inner {
        .veedata {
          position: absolute;
          top: 0.5em;
          left: 1em;
          margin: 0;
        }
        .line {
          margin: 0;
        }
      }
    }
  }
  .content {
    padding: 0;
    margin: 0;
    flex: 1 1 auto;
    list-style: none;
    background-color: @clouds;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    height: 100%;
    .mainNav,
    .subNav,
    .mainNav {
      display: block;
      max-height: 100%;
      flex-basis: 13em;
      background-color: @midnightblue;
      border-right: 2px @wetasphalt solid;
      .company {
        padding: 0;
        .logo {
          background-color: @wetasphalt;
          display: block;
          width: 100%;
          box-sizing: border-box;
          .gradient(@color: @pomegranate, @start: 0, @stop: 100);
          text-align: center;
          color: @white;
          font-weight: 900;
          font-size: 1.4em;
          padding: 0.8em 0 0.5em;
          .name {
          }
          .location {
            display: block;
            font-size: 0.6em;
            font-weight: normal;
          }
        }
      }
      .companyName {
        color: @clouds;
        font-weight: 200;
        padding: 0.5em 1em;
        line-height: 1.2em;
      }
      ul.nav {
        padding: 0;
        margin: 1em 0 0;
        a {
          color: lighten(@midnightblue, 45%);
          &.active {
            color: @nephritis;
          }
        }
        li {
          list-style: none;
          padding: 0.25em 1em;
        }
        .mainitem {
          color: lighten(@midnightblue, 45%);
        }
        .group {
          background-color: darken(@midnightblue, 8%);
          ul {
            padding: 0;
            margin: 0;
            li {
              list-style: none;
              padding: 0.125em 0;
              &.subitem {
                padding: 0.125em 0 0.125em 0.5em;
              }
            }
          }
        }
      }

    }
    .board {
      width: 100%;
      .area {
        width: 100%;
        display: block;
        padding: 0.5em 1em;
        margin-top: 1em;

        a {
          color: @nephritis;
          &:hover {
            border-bottom: 1px solid @nephritis;
          }
        }

        .tiles {
          display: flex;
          width: 100%;

          .tile {
            background-color: @white;
            padding: 0.5em 1em;

            margin-bottom: 1em;
            width: 100%;


            .summary {

              display: flex;
              width: 100%;



              .person, .info, .info2 {
                //flex-grow: 1;
                display: block;
                width: 100%


              }

              .person {
                flex-grow: 1;


                padding: 0.125em 0.5em;
                font-size: 3em;
                width: 2em;
                height: 1.5em;

              }

              .info {
                flex-grow: 1;

                padding: 0.5em 1em;
              }


            }


            &:nth-child(2), &:nth-child(3) {
              margin-left: 1em;

            }
            .header {
              padding: 0.5em 0 1em 0;
              &:after {
                content: ' ';
                display: block;
                width: 5%;
                border-bottom: 0.125em solid @black;
                margin-top: 0.125em;
                margin-left: 1.4em;
                position: relative;
              }

              .selection {
                color: @nephritis;
                padding: 0 0.5em;

              }
              i {
                color: @midnightblue;
              }

              .riskindex, .actions {
                float: right;
                i {
                  padding: 0 0.5em 0 0;
                }
              }
            }

            .details {
              display: flex;
              width: 100%;

              .sleeping, .sedentary, .physical {
                flex-grow: 1;
                width: 100%;
                text-align: center;

                .donut1, .donut2, .donut3 {
                  margin-bottom: -4em;
                }
              }

              .sedentary, .physical {
                margin-left: 1em;
              }
            }

            .status {
              background-color: @nephritis;
              padding: 1em;
              color: @white;
              .rounded(0.25em);
              text-align: center;
              font-weight: thin;

              &.yellow {
                background-color: @sunflower;
              }

            }

            .messages {
              .message {
                padding: 0.5em 0em;
                i {
                  padding: 0 1em;
                }
              }
            }

            .send {
              padding: 1em;
              span {
                padding: 0.5em;
                background-color: @midnightblue;
                color: @white;
              }
            }

            .donuts2 {
              display: flex;
              width: 100%;

              .sedentary {
                width: 100%;

                display: block;
                width: 100%;

                .title {
                  text-align: center;
                }

                .donut3 {
                  margin-bottom: -4em;
                }

                .infos {
                  display:flex;
                  width: 100%;

                  .left, .right {
                    .min {
                      font-size: 1.2em;
                      font-weight: 900;
                    }
                  }

                  .left {
                    display: block;
                    width: 100%;
                    text-align: center;
                  }

                  .right {
                    display: block;
                    width: 100%;
                    text-align: center;
                  }
                }
              }
              .seden2 {
                width: 100%;
              }
            }

            .cont2 {
              margin-top: 1em;

              .goaltests {
                display: block;
                width: 100%;
                .goal {
                  display: block;
                  width: 100%;
                  .info {
                    float:right;
                  }
                }

                .challenges {
                  display: block;
                }
              }
            }

            .cont {
              display: flex;
              width: 100%;

              table {
                width: 100%;
              }

              .chart {
                flex-grow: 2;
                //width: 10em;

                .ct-chart {
                  //width: 40em;

                  .ct-labels {
                    background-color: blue;
                  }
                }




              }
              .goaltests {
                display: block;
                width: 100%;
                .goal {
                  display: block;
                  width: 100%;
                  .info {
                    float:right;
                  }
                }

                .challenges {
                  display: block;
                }
              }




              .donuts {
                display:flex;
                width: 100%;


                .physicalActivity {
                  display: block;
                  width: 100%;

                  .title {
                    text-align: center;
                  }

                  .donut1 {
                    margin-bottom: -4em;
                  }

                  .infos {
                    display:flex;
                    width: 100%;

                    .left, .right {
                      .min {
                        font-size: 1.2em;
                        font-weight: 900;
                      }
                    }

                    .left {
                      display: block;
                      width: 100%;
                      text-align: center;
                    }

                    .right {
                      display: block;
                      width: 100%;
                      text-align: center;
                    }
                  }

                }
                .locations {
                  width: 100%;
                  display: block;

                  .title {
                    text-align: center;
                  }

                  .donut2 {
                    margin-bottom: -4em;
                  }

                  .infos {
                    display:flex;
                    width: 100%;

                    .left, .right {
                      .min {
                        font-size: 1.2em;
                        font-weight: 900;
                      }
                    }

                    .left {
                      display: block;
                      width: 100%;
                      text-align: center;
                    }

                    .right {
                      display: block;
                      width: 100%;
                      text-align: center;
                    }
                  }
                }
              }



              .drugs {
                //background-color: blue;
                width: 100%;
              }

              .legend {
                flex-grow: 1;
                ul {
                  margin: 0;
                  padding: 0;
                  list-style: none;
                }



              }

              .participants {
                width: 100%;
                table {
                  width: 100%;

                  tr {
                    //padding: 0.5em 0;

                  }

                  td, th {
                    text-align: left;
                    padding: 0.25em 0;
                    &.la {
                      text-align: right;
                    }
                  }
                }
              }
            }

            .cont2 {
              display: flex;

              .activity {
                width: 50%;
                table {
                  width: 100%;
                  margin-left: 1em;

                  td, th {
                    text-align: left;
                  }
                }
              }

              .risk {
                width: 50%;

                table {
                  width: 100%;
                  margin-left: 1em;

                  td, th {
                    text-align: left;
                  }
                }
              }

            }
          }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: 1em;
        }
        .filter {
          width: 100%;
          .title {
            font-size: 1.2em;
            color: @asbestos;
            font-weight: normal;


          }
          .filtercontent {
            padding: 0.5em 1em;
            display: flex;
            text-align: right;
            justify-content: flex-end;
            form {
              input {
                width: 80%;
              }
              width: 20em;
            }
            .actions {
              display: flex;
              i {
                padding: 0 0.5em;
              }
            }
          }
        }
        .companies {
          display: block;
          width: 100%;
          background-color: @white;
          a {
            color: @midnightblue;
            &:hover {
              color: @nephritis;
            }
          }
          .companytitle {
            padding: 1em 1em 0;
            display: flex;
            //justify-content: flex-end;
            .headline {

              &:after {
                content: ' ';
                display: block;
                width: 15%;
                border-bottom: 0.125em solid @black;
                margin-top: 0.25em;
                margin-left: 1.2em;
                position: relative;
              }
            }
            .space {
              flex-grow: 5;
            }
            .actions {
            }
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 1em;
            li {
              &.company {
                display: flex;
                margin-bottom: 1em;
                .logo {
                  font-size: 4em;
                  text-align: center;
                  width: 1.5em;
                  background-color: @clouds;
                  color: @midnightblue;
                }
                .info {
                  padding: 0 1em;
                  ul {
                    padding: 0;
                    margin: 0;
                  }
                }
                .space {
                  flex-grow: 5;
                }
                .stats {
                  display: flex;
                  .stat {
                    padding: 0.5em;
                    .number {
                      font-size: 2em;
                      font-weight: 900;
                    }
                    .title {
                      color: @midnightblue;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}.good {
   color: #d70206;
 }

.excellent {
  color: #f05b4f;
}

.needsAttention {
  color: #f4c63d;
}

.inactive {
  color: #d17905;
}