doctype html
html(ng-app='Dashboard')
	head
		title Veedata
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='/bc/angular-material/angular-material.min.css')
		link(rel='stylesheet', href='/css/dashboard.css')
		link(rel='stylesheet', href='/bc/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/bc/mdPickers/dist/mdPickers.css')


	body(ng-app='Veedashboard' ng-cloak='', layout='column')
		script.
			var url = '#{url}';
		md-toolbar()
			.md-toolbar-tools.toolbar.md-whiteframe-4dp
				.logo(layout='row', layout-align='center center')
					img(src='images/veedata_logo.svg')
					span Veedata
				span(flex='')
				span.loginname
					b #{user.displayName}
				span
					a(href='/logout')
						i.fa.fa-sign-out

		.container(layout='row', flex='')
			md-sidenav(md-is-locked-open='true').navigation-main.md-whiteframe-4dp
				.navigation-main-category
					.navigation-main-category__headline Management
					a.navigation-main-category-item(layout='row', layout-align='center center', ui-sref='devices', ui-sref-active="active")
						.navigation-main-category-item__icon(flex='15', )
							i.fa.fa-tablet
						.navigation-main-category-item__text(flex='85')
							span Devices

					a.navigation-main-category-item(layout='row', layout-align='center center', ui-sref='heartrate', ui-sref-active="active", ng-if='#{user.id}<4')
						.navigation-main-category-item__icon(flex='15', )
							i.fa.fa-heartbeat
						.navigation-main-category-item__text(flex='85')
							span Heart-Rate

				.navigation-main-category
					.navigation-main-category__headline Dashboard
					a.navigation-main-category-item(layout='row', layout-align='center center', ui-sref='export', ui-sref-active="active")
						.navigation-main-category-item__icon(flex='15', )
							i.fa.fa-area-chart
						.navigation-main-category-item__text(flex='85')
							span Export

			md-content.content(ui-view="", flex='')

		script(src='/bc/moment/min/moment.min.js')
		script(src='/bc/angular/angular.js')
		script(src='/bc/angular-animate/angular-animate.min.js')
		script(src='/bc/angular-aria/angular-aria.min.js')
		script(src='/bc/angular-messages/angular-messages.min.js')
		script(src='/bc/angular-material/angular-material.min.js')
		script(src='/js/Chart.min.js')
		script(src='/js/angular-chart.min.js')
		script(src='/bc/mdPickers/dist/mdPickers.js')
		script(src='/bc/angular-ui-router/release/angular-ui-router.min.js')
		script(src='/bc/angular-resource/angular-resource.min.js')
		script(src='/bc/angular-momentjs/angular-momentjs.min.js')
		script(src='/bc/underscore/underscore-min.js')
		script(src='/bc/angular-underscore-module/angular-underscore-module.js')
		script(src='/javascripts/dashboard.js')
		script(src='/javascripts/services.js')
		script(src='/javascripts/directives.js')
		script(src='/javascripts/controllers.js')

