extends layout

block content
  .header
    .tiles
      .header-inner
        .veedata
          span VEEDATA
          span.line

  .content
    span
      strong 404.
      | &nbsp; That's an error
