doctype html
html
  head
    title Veedata
    link(rel='stylesheet', href='/bc/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/dashboard.css')

  body(class='#{title}')
    block content

    //script(src='/javascripts/dashboard.js')
