doctype html
html()
  head
    title Veedata
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/bc/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='/css/dashboard.css')
    link(rel='stylesheet', href='/bc/font-awesome/css/font-awesome.min.css')

  body(ng-app='Veelogin' ng-cloak='', ng-controller='LoginCtrl' layout='column')

    md-content.content(flex='',layout='column', layout-align='center center')
      div(flex-gt='50', layout-align='center center')
        div(layout='column', layout-align='center center').md-padding
          img(src='images/veedata_logo.svg')
        md-card(flex='', )
          form(action='/login' method='post')
            md-card-header
              md-card-header-text
                .md-title Sign In
                .md-subhead Enter your existing user and password to access the site.
            md-card-content
              md-input-container.md-block
                label Username
                input(required='', name='username')

              md-input-container.md-block
                label Password
                input(type='password', required='', name='password', placeholder='')

            md-card-actions(layout='row', layout-align='end center')
              md-button(type='submit') Sign In







    script(src='/bc/angular/angular.js')
    script(src='/bc/angular-animate/angular-animate.min.js')
    script(src='/bc/angular-aria/angular-aria.min.js')
    script(src='/bc/angular-messages/angular-messages.min.js')
    script(src='/bc/angular-material/angular-material.min.js')

    script(src='/javascripts/login.js')


