extends layout

block content
  .header
    .tiles
      .header-inner
        .veedata
          span VEEDATA
          span.line
    .logout
      i.fa.fa-sign-out
      span &nbsp; Logout

  .content
    .mainNav
      .company
        .logo
      .companyName Company ABC
      ul
        li.mainitem
          a(href='/overview')
            i.fa.fa-tachometer
            | &nbsp;  Overview
        li.mainitem
          a(href='/insights').selected
            i.fa.fa-send-o
            | &nbsp;  Insights

          ul
            li.headline
              strong Modifiable Risk Factors
            li.subitem
              a.selected Physical Activity
            li.subitem
              a Sedentary Periods
            li.subitem
              a Stress and Anxiety
            li.subitem
              a Depression
            li.subitem
              a Sleep Quality
            li.subitem
              a Treatment Adherence

            li.headline
              strong Engagement
            li.subitem
              a Goals
            li.subitem
              a Content
            li.subitem
              a Rewards
        li.mainitem
          a(href='/notifications')
            i.fa.fa-bullhorn
            | &nbsp;  Notifications
        li.mainitem
          a(href='/content')
            i.fa.fa-newspaper-o
            | &nbsp;  Content
        li.mainitem
          a(href='/challenges')
            i.fa.fa-flash
            | &nbsp;  Challenges
        li.mainitem
          a(href='/settings')
            i.fa.fa-gears
            | &nbsp;  Settings
        li.mainitem
          a(href='/help')
            i.fa.fa-question
            | &nbsp;  Help



    .board
      header
        ul
          li
            //a Test
          li
            //a Test1

      .area
        .tile
          .header
            i.fa.fa-flash
            span &nbsp; Levels of activity in
              strong &nbsp; January
          .section.activityPerMonth
            svg.chart

        .tile
          .header
            i.fa.fa-pie-chart
            span &nbsp; Distribution of activity

          .section.activityPercent
            svg.donut

      .area
        .tile
          .header
            i.fa.fa-users
            span &nbsp; Users Activity
          .section.activeusers
            table
              thead
                tr
                  td Participant
                  td Engagement Status
                  td Last Activity
              tbody
                tr
                  td Participant 1
                  td Good
                  td 1 hour ago
                tr
                  td Participant 2
                  td Excellent
                  td 2 min ago
                tr
                  td Participant 3
                  td
                    i.fa.fa-exclamation-triangle
                    | &nbsp; Needs Attention &nbsp;

                  td 5 mins ago

        .tile
          .header
            i.fa.fa-flash
            span &nbsp; Most likely claims
          .section
            table
              thead
                tr
                  td



