div(layout='column')

  div(flex='')
    md-card
      md-card-header
        md-card-header-text
          .md-title Device Activity
          .md-subhead Overview of the data collected by the devices

        md-card-header-text
          .tile-header__filter
            a(ng-click='clickHours()', ng-class='{"active": isActive(0)}').tile-header_filter-item 6h
            a(ng-click='clickWeek()', ng-class='{"active": isActive(1)}').tile-header_filter-item 7d
            a(ng-click='clickMonth()', ng-class='{"active": isActive(2)}').tile-header_filter-item 30d



      md-card-content.chart-overview
        div(flex='').chart-container
          .chart
            canvas(chart-data='data', chart-labels='labels', chart-series='series', chart-options='options', chart-dataset-ovverride='datasetOverride', chart-colors='colors')#bar.chart.chart-bar


  div(flex='')
    md-card.devices
      md-card-header
        md-card-header-text
          .md-title Devices
          .md-subhead List of devices and the last sync.
      md-card-content
        div(ng-repeat='device in devices', layout='row', layout-align='center center').device
          //md-checkbox(ng-model='device.isSelected', layout='row', layout-align='center start').device-checkbox
            div.device-icon
              i.fa.fa-mobile
          div
            div.device-icon
              i.fa.fa-mobile

          div(layout='column', flex='')
            div.device-alias {{device.alias}}

          div(layout='column', flex='')
            div.participant {{device.currentUser}}
            div.title Participant

          div(layout='column', flex='')
            div.sync {{device.lastSync}}
            div.title Last Sync

          div(flex='')

          md-button(ng-disabled='true').md-raised.md-primary Sync Now

      md-card-actions(layout='row', layout-align='end center')
