div(layout='row')
  div(flex='80')
    md-card
      md-card-header
        md-card-header-text
          .md-title GetMoving Devices
          .md-subhead List of all devices available to export data from


      md-card-actions(layout-gt-xs='row', layout-md='column', layout-align='end center').md-padding
        div(layout='row')
          span From:
          div
            mdp-date-picker(mdp-placeholder="Date",ng-model='startDate', aria-label='')
            mdp-time-picker(ng-model='startDate', aria-label='')

        div(layout='row')
          span To:
          div
            mdp-date-picker(mdp-placeholder="Date",ng-model='endDate', aria-label='')
            mdp-time-picker(ng-model='endDate', aria-label='').mdp-time-picker

        div(flex='')

        div(layout='column', layout-align='center start')
          div(layout='column')
            md-checkbox(ng-model='typeActivity') Activity
            md-checkbox(ng-model='typeRaw') Raw
            md-checkbox(ng-model='heartrate') Heartrate
          div(layout='row')
            md-button(ng-click='exportData()', ng-disabled='selected.length == 0 || (typeActivity == false && typeRaw == false) || exportStarted').md-raised Export
            //md-button(ng-click='showData()', ng-disabled='selected.length == 0').md-raised Show

          div(layout='column', layout-align='center end').md-padding
            div
              md-progress-circular(ng-show='exportStarted', md-diameter='20px')
            div.export-result(ng-repeat='export in exported')
              a(href='{{export.url}}', target='_blank', ng-show='export.url.length > 0 && !exportStarted') {{export.filename}}
              //a(href='{{export.trainingRaw.url}}', target='_blank', ng-show='export.trainingRaw.url.length > 0 && !exportStarted') TrainingRaw.json
            //div.export-result
              a(href='{{export.trainingActivity.url}}', target='_blank', ng-show='export.trainingActivity.url.length > 0 && !exportStarted') TrainingActivity.json



      md-card-content.devices

        div(layout='column').export-devices
          md-checkbox(aria-label='', ng-checked='isAllChecked()', md-indeterminate="isIndeterminate()", ng-click='toggleAll()')
            span(ng-if='isAllChecked()') Un-
            span Select All
          div(flex='')
        div(ng-repeat='device in devices', layout='row', layout-align='center center').device
          //md-checkbox(ng-model='device.isSelected', layout='row', layout-align='center start').device-checkbox
            div.device-icon
              i.fa.fa-mobile
          div
            md-checkbox(aria-label='', ng-checked='exists(device, selected)' ng-click='toggle(device, selected)').device-checkbox
              div.device-icon
                i.fa.fa-mobile

          div(layout='column', flex='')
            div.device-alias {{device.alias}}

          div(layout='column', flex='')
            div.participant {{device.currentUser}}
            div.title Participant

          div(layout='column', flex='')
            div.sync {{device.lastSync}}
            div.title Last Sync

          div(flex='')

        //div(ng-repeat='device in devices', layout='row', layout-align='center center').device
          md-checkbox(aria-label='', ng-checked='exists(device, selected)' ng-click='toggle(device, selected)').device-checkbox
            div.device-icon
              i.fa.fa-mobile
          div.device-id {{device.DeviceId}}

          div(layout='column', flex='')
            div.sync {{device.LastSync}}
            div.title Last Sync

          //div(layout='column', flex='')
            div {{device.TrainingActivity}}
            div.title TrainingActivity

          //div(layout='column', flex='')
            div {{device.TrainingRaw}}
            div.title TrainingRaw

          div(flex='')

