div(layout='column')
  div(flex='',)
    md-card(ng-repeat='device in devices track by $index')
      md-card-header.tile-header
        md-card-header-text.tile-header__title
          .md-title.tile-header__title-text
            span.tile-header__title-icon
              i.fa.fa-tablet
            span.tile-header__title-description &nbsp;{{device.alias}}
          .md-subhead {{device.currentUser}}

        md-card-header-text(flex='')

        md-card-header-text
          .md-title.tile-header__metric-text
            i.fa.fa-heartbeat
            span &nbsp;{{device.chart.average | number:2}}
          .md-subhead.tile-header__metric-description Average BPM

        //md-card-header-text
          .md-title.tile-header__metric-text
            span &nbsp;128
            i.fa.fa-angle-up
          .md-subhead.tile-header__metric-description Max BPM

        //md-card-header-text
          .md-title.tile-header__metric-text
            span &nbsp;55
            i.fa.fa-angle-down
          .md-subhead.tile-header__metric-description Min BPM

        md-card-header-text
          .tile-header__filter
            a(ng-click='updateHeartRate($index, 60, "minutes", 0)', ng-class='{"active": isActive($index,0)}').tile-header_filter-item 1h
            a(ng-click='updateHeartRate($index, 3*60, "minutes", 1)', ng-class='{"active": isActive($index,1)}').tile-header_filter-item 3h
            a(ng-click='updateHeartRate($index, 24, "hours", 2)', ng-class='{"active": isActive($index,2)}').tile-header_filter-item 1d
            a(ng-click='updateHeartRate($index, 7, "days", 3)', ng-class='{"active": isActive($index,3)}').tile-header_filter-item 7d


      md-card-content.chart-overview
        canvas(
        chart-data='device.chart.data',
        chart-labels='device.chart.labels',
        chart-series='device.chart.series',
        chart-options='device.chart.options',
        chart-dataset-ovverride='device.chart.datasetOverride',
        chart-colors='device.chart.colors'
        ).chart.chart-line
      md-card-actions(layout='row', layout-align='end center')
